<label>New portion type</label>
<input type="text" (keydown.enter)="newPortionName($event)" class="form-control" style="width:300px;">
List of portion types
<div *ngFor="let pt of allPortionNames">
  <input type="text" [value]="pt.name" (keyup.enter)="updatePortionName($event, pt)" class="form-control" style="width:300px;">
</div>
<hr>
<label>New TagListItem name</label>
<input type="text" (keydown.enter)="newTagName($event)" class="form-control" style="width:300px;">
List of TagListItem names
<div *ngFor="let tn of allTags">
  <input type="text" [value]="tn.name" (keyup.enter)="updateTagName($event, tn)" class="form-control" style="width:300px;">
</div>
