*{
  display: flex;
  border: 1px solid grey;
}

.container {
  box-shadow: 1px;
  border: 0px;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width:100%
}

.container > div {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name {
  /*background: blue;*/
  grid-area: 1 / 1 / 2 / 5;
}

.button {
  /*background: violet;*/
  grid-area: 1 / 5 / 4 / 6;
}

.text {
  /*background: red;*/
  grid-area: 2 / 1 / 3 / 3;
}

.quantity {
  /*background: green;*/
  grid-area: 2 / 3 / 3 / 5;
}

.prot {
  /*background: yellow;*/
  grid-area: 3 / 1 / 4 / 2;
}

.carb {
  /*background: yellow;*/
  grid-area: 3 / 2 / 4 / 3;
}

.fat {
  /*background: yellow;*/
  grid-area: 3 / 3 / 4 / 4;
}

.kcal {
  /*background: yellow;*/
  grid-area: 3 / 4 / 4 / 5;
}