<div class="container">

  <app-alert [message]="alertMsg" *ngIf="alert" (cancel)="alertCancel()" (save)="alertSave()" (discard)="alertDiscard()"></app-alert>
 
  <form [formGroup]="dishForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          
          <button type="submit" class="btn btn-primary" [disabled]="!requireSave">Save</button>
          <hr>
          <!--DishId: {{this.dishForm.get('id')?.value}}-->

          <div class="formGroup">
            <label for="name">Dish name</label>
            <input type="text" id="name" formControlName="name" class="form-control" style="width:300px;">
            <span *ngIf="!dishForm.get('name')?.valid && dishForm.get('name')?.touched" class="text-danger">
              Please enter a valid ingredient name
            </span>
          </div>

          <div class="formGroup">
            <label for="tags">Tags</label>
            <select  formControlName="tags" multiple class="form-control" style="width:300px;">
              <option *ngFor="let TagListItem of allTags" [value]="TagListItem.name">
                {{ TagListItem.name }}
              </option>
            </select>
          </div>

          <div class="formGroup">
            <label for="image">Image</label>
            <input #imageInput (change)="processFile(imageInput)" type="file" accept="image/*" id="image" formControlName="image" class="form-control" style="width:300px;">  
            <img #image id="image" />
          </div>
            
          <div class="formGroup">
            <label for="portions">Portions</label>
            <input type="text" id="portions" formControlName="portions" class="form-control" style="width:300px;">
            <span *ngIf="!dishForm.get('portions')?.valid && dishForm.get('portions')?.touched" class="text-danger">
              Please enter a valid dish type
            </span>
          </div>

          <div class="formGroup">
            <label for="description">Description</label>
            <input type="text" id="description" formControlName="description" class="form-control" style="width:300px;">
            <span *ngIf="!dishForm.get('description')?.valid && dishForm.get('description')?.touched" class="text-danger">
              Please enter a valid dish type
            </span>
          </div>

          <div class="formGroup">
            <label for="recipe">Recipe</label>
            <input type="text" id="recipe" formControlName="recipe" class="form-control" style="width:300px;">
            <span *ngIf="!dishForm.get('recipe')?.valid && dishForm.get('recipe')?.touched" class="text-danger">
              Please enter a valid dish recipe
            </span>
          </div>

          <div class="formGroup">
            <label for="cookingTime">Cooking Time</label>
            <input type="text" id="cookingTime" formControlName="cookingTime" class="form-control" style="width:300px;">
            <span *ngIf="!dishForm.get('cookingTime')?.valid && dishForm.get('cookingTime')?.touched" class="text-danger">
              Please enter a valid dish recipe
            </span>
          </div>

          P:{{this.dishForm.get('macro')?.get('proteins')?.value}}   <br> 
          C:{{this.dishForm.get('macro')?.get('carbohydrates')?.value}}   <br> 
          F:{{this.dishForm.get('macro')?.get('fat')?.value}}   <br> 
          K:{{this.dishForm.get('macro')?.get('kcal')?.value}}   <br> 


        </div>

        <br>
        <table>
          <tr *ngFor="let ingredient of ingredients.controls; let i=index" formArrayName="ingredients" >
            <ng-container [formGroupName]="i">
              <tr>
                <td colspan="5">{{this.ingredient.get('name')?.value}}</td>
              </tr>
              <tr>              
                <td colspan="3">Quantity: <input id="portionQuantity" type="number" formControlName="portionQuantity"></td>
                <td colspan="2">Portion type:                
                  <select id="portionType" formControlName="portionType" class="form-control" (change)="changePortionType(i, $event.target)">
                    <option *ngFor="let pt of portionTypes" [value]="pt.name">
                      {{ pt.name }}
                    </option>
                  </select>
                </td>  
              </tr>
              <tr>
                <td>P: {{this.ingredient.get('proteins')?.value}}</td>
                <td>C: {{this.ingredient.get('carbohydrates')?.value}}</td>
                <td>F: {{this.ingredient.get('fat')?.value}}</td>
                <td>K: {{this.ingredient.get('kcal')?.value}}</td>  
                <td><button (click)="removeIngredient(i)">Delete</button> </td>         
              </tr>
            </ng-container>
          </tr>
        </table>
        
        <input
          id="ingredientSearchInput"
          type="text"
          class="form-control"
          [(ngModel)]="newIngr"
          [ngModelOptions]="{standalone: true}"
          [ngbTypeahead]="search"
          [inputFormatter]="formatter"
          [resultFormatter]="formatter"
          [editable]="false" 
          (ngModelChange)="addIngredient()" 
        />

        
 
      </div>

  </form>

</div>

