<div class="container">

  <button type="button" class="btn btn-primary" 
  routerLink="/ingredients/new">Add new</button>

  <hr>
  <div *ngIf="!$ingredients">
    <span class="sr-only">Loading...</span> 
    <br>
    <div class="spinner-border" role="status"></div>
  </div>

  <table *ngIf="$ingredients">
    <tr *ngFor="let ingredient of $ingredients">
      <th style="width:300px;"><app-ingredient-list-item
        [ingredient]="ingredient"
        [index]="ingredient.id"
        ></app-ingredient-list-item></th>
      <th><button (click)="deleteItem(ingredient.id)">
        delete
      </button></th>

    </tr>
  </table>

</div>
