<!--<a style="cursor: pointer;" [routerLink]="[dayId,dishId]"> -->
<a style="cursor: pointer;">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">{{dish.time}}</div>
      </div>
      <div class="row">
        {{dish.name}}
      </div>
    </div>
   <!-- <div class="col">
      {{dish.dish.image}}
    </div>-->
    <div class="col">
      <button class="btn btn-primary" style="width: 50px;" (click)="deleteCard.emit([dishIndex, dayId])">X</button>
    </div>
  </div>

  <div class="row">
    <div class="col">P:<br>{{dish.macro.proteins}}</div>
    <div class="col">C:<br>{{dish.macro.carbohydrates}}</div>
    <div class="col">F:<br>{{dish.macro.fat}}</div>
    <div class="col">K:<br>{{dish.macro.kcal}}</div>
  </div>
</a>
<hr>